* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0B2434;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

.App {
  width: 320px;
  height: 320px;
  background: #F5F5F5;
  border-radius: 10px;
}

h1 {
  font-family: 'Karla', sans-serif;
  color: #2B283A;
  letter-spacing: -0.03em;
  font-weight: 700;
  font-size: 25.6px;
}

p {
  color: #4A4E74;
  font-weight: 400;
  font-size: 13.1072px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  margin: 0 45px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.dice {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  margin: 20px;
}

.dice button {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 20.5889px;
  color: #2B283A;
  width: 35.84px;
  height: 35.84px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 3.81277px;
  cursor: pointer;
  padding: 4px;
}

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.second-face .dot:nth-of-type(2) {
  align-self: flex-end;
}

.second-face .dot:nth-of-type(3) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}

.third-face .dot:nth-of-type(3) {
  align-self: flex-end;
}

.third-face .dot:nth-of-type(2) {
  align-self: center;
}

.third-face .dot:nth-of-type(1) {
  align-self: flex-start;
}

.fourth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.fifth-face {
  display: flex;
  justify-content: space-between;
}

.fifth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

.dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #2B283A;
}

.roll {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 16.384px;
  color: #FFFFFF;
  background: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border: none;
  border-radius: 3.81277px;
  width: 110px;
  height: 35.84px;
  cursor: pointer;
  padding: 0 10px;
}

.roll:focus {
  outline: none;
}

.roll:active {
  box-shadow: inset 5px 5px 10px -3px rgba(59, 56, 77, 0.7);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 358px;
  background: #F5F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-header,
.modal-footer {
  padding: 20px;
}

.modal-body p {
  padding: 10px;
  color: #2B283A;
  font-family: 'Karla';
  font-weight: 500;
  font-size: 20px;
}

.modal-title {
  color: #2B283A;
  font-weight: 800;
  font-size: 50px;
  font-family: 'Karla';
}